#bs-debug-grid

    #bs-debug-grid-grid
        .container
            .row
                .col-xs-1
                    b
                    div
                .col-xs-1
                    b
                    div
                .col-xs-1
                    b
                    div
                .col-xs-1
                    b
                    div
                .col-xs-1
                    b
                    div
                .col-xs-1
                    b
                    div
                .col-xs-1
                    b
                    div
                .col-xs-1
                    b
                    div
                .col-xs-1
                    b
                    div
                .col-xs-1
                    b
                    div
                .col-xs-1
                    b
                    div
                .col-xs-1
                    b
                    div
                    i

    #bs-debug-grid-nav
        p
            b.hidden-sm-up.hidden-sm.hidden-md.hidden-lg xs
            b.hidden-xs-down.hidden-md-up.hidden-xs.hidden-md.hidden-lg sm
            b.hidden-sm-down.hidden-lg-up.hidden-xs.hidden-sm.hidden-lg md
            b.hidden-md-down.hidden-xl-up.hidden-xs.hidden-sm.hidden-md lg
            b.hidden-lg-down.hidden-xs.hidden-sm.hidden-md.hidden-lg xl
        div
            a#bs-debug-grid-btn-ruler Ruler
            a#bs-debug-grid-btn-grid Grid
            a#bs-debug-grid-btn-fluid Fluid&nbsp;mode
            a#bs-debug-grid-btn-highlight Highlight&nbsp;blocks
            a#bs-debug-grid-btn-hide Hide


    #bs-debug-grid-ruler
        #bs-debug-grid-ruler-info
        i
