doctype html
html
    head
        title bs-debug-grid
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css")
        //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        script(src="https://code.jquery.com/jquery-2.2.0.min.js")

        script(src="bs-debug-grid.min.js")
        script(src="index.js")

        style.
            h4 {
                margin-top: 30px;
            }
            form, h6 {
                background-color: #f5f5f5;
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 10px;
            }
            h6 {
                font-family: Menlo, monospace;
            }
            label {
                display: block;
                margin: 10px;

            }
            label span {
                padding-left: 5px;
            }

    body
        .container
            .row
                .col-xs-12.col-sm-6.col-sm-offset-3
                    h2 bs-debug-grid

                    p bs-debug-grid is a debugging grid for Bootstrap 3 and 4 layouts.
                    p Press <code>F2</code> or <a href="#" onclick="$.bsDebugGridToggle()">click</a> to show.

                    h4 Usage

                    p Embed it on your page:
                    h6.replaceURL
                        | &lt;script src="__URL__"&gt;&lt;/script&gt;
                    p
                        | or drag this bookmarklet to your toolbar:&nbsp
                        a.replaceURL(href="window.jQuery('<script/>').appendTo('body').attr('src','__URL__')")
                            | bs-debug-grid

                    p When the grid is on, click <code>&#x2261;</code> for additional tools.

                    h4 Customize

                    form
                        label
                            span Hotkey
                            input#options-hotkey.form-control(placeholder="click here and press a key")
                        label
                            input#options-show(type="checkbox")
                            span Initially visible
                        label
                            input#options-fluid(type="checkbox")
                            span Fluid layout

                    h4 About

                    p Written by <a href="http://merribithouse.net">Georg Barikin</a>.
                    p MIT License.
                    p <a href="https://github.com/gebrkn/bs-debug-grid">Fork me</a>
                    p 2016.




